:root {
    --restorebg: #1a1f29;

    --logdisplay: #262e3d;
    --logdisplayborder: #465066;

    --logdisplaybtn: #414b61;
    --logdisplaybtnhver: #343c4e;

    --closebtn:#2f3646;
    --closebtnborder:#262c3b;
    --closebtnhvr: #3f475a;

    --confirmbtn: rgb(83, 19, 19);
    --confirmbtnhvr: rgb(105, 38, 38);
    --confirmbtnborder: rgb(129, 53, 53);
    --nopickbtn: rgb(105, 105, 105);
    --nopickbtnborder: rgb(70, 70, 70);
}

.finding-world-loading-symbol, .grab-log-loading-symbol {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid var(--loading-wheel);
    border-bottom: 7px solid var(--loading-wheel);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20px;
}

.grab-log-loading-symbol {
    margin-top: 40vh;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vl_header {
    color: aliceblue;
    text-align: center;
}

.vl_header h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.vl_header h2 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
}

.vl_btns {
    width: 85%;
    margin: auto;
}

.vl_btns button {
    background-color: var(--server_control_btn);
    color: rgb(221, 221, 221);
    font-size: 14px;
    width: 47%;
    height: 45px;
    margin: 5px 1.5%;
    cursor: pointer;
    border-style: none;
    border: solid 2px var(--box-border);
    border-radius: 10px;
}

.vl_btns button:hover {
    background-color: rgb(32, 35, 43);
    border: solid 3px rgb(69, 72, 83);
    transition: background-color 0.3s linear;
}

.vl_btns button:focus {
    outline: none;
}

.log_display {
    width: 60%;
    margin: auto;
    background-color: var(--logdisplay);
    border: solid 3px var(--logdisplayborder);
    border-radius: 10px;
    padding: 20px 40px;
}

.log_display p {
    color: white;
}

.log_display button {
    background-color: var(--logdisplaybtn);
    color: rgb(221, 221, 221);
    font-size: 14px;
    width: 100px;
    height: 32px;
    margin-top: 15px;
    cursor: pointer;
    border-style: none;
    border-radius: 50px;
}

.log_display button:hover {
    background-color: var(--logdisplaybtnhver);
    transition: background-color 0.3s linear;
}

.log_display button:focus {
    outline: none;
}